<% include partials/header.ejs %>







<h1>Discussions</h1>


<a href="/newdiscussion">Add a new Discussion</a>

<h1>Recent Discussions</h1>

<% if(all==null){ %>

 <% }else{ %>
  <% all.forEach(function(discuss){ %>
  <div  class="panel panel-success">
    <div class="panel-heading">
      <h2 class="panel-title"><%= discuss.title %> discussion started by-<%= discuss.username %></h2>
    </div>
    <div class="panel-body" style="background: black">
      
      <h3><%= discuss.description %></h3>
    </div>
    <button>Discuss</button>
  </div>

  

    
   
  
    <% }) %>
  



<% } %>


<% include partials/footer.ejs %>