<% include partials/header.ejs %>

<div class="a">
        <h1>Top Rated Movies</h1>
        <div class="p">
      <div class="row" style="display: flex; flex-wrap: wrap">
<% movies.results.forEach(function(movie){ %>
  <% if(movie.poster_path==null){ %>
          
                 <% } else{ %>
                  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail">
                     
                      <div class="caption">
                    
      
                  <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="" class="thumbnail">
                
                      <h3><%= movie.title %></h3>
                     
                    <form action="/getmov" method="POST">
                   <input type="text" name="movnm" value="<%= movie.id %>" style="display: none">
                   <p class="infobtn"><button class="btn btn-primary">More Info!</button> </p>
                    </form>
                  
                      
                       

                 



            
                </div>
              </div>
            </div>
            <% } %>
 <%  })  %>
</div>
</div>
</div>

<% include partials/footer.ejs %>