
img{

  width: 100%;
 
}
.down{
background-color: black;
width: 100%;
height: 200px;
}
.search{

    margin-top:80px;
}
.button{

    background-color:black;
    color: white;
    margin-left: 20px;
    margin-bottom: 50px;
    
}
.button:hover{
    background-color: gray;
 
}

#bt{

width:360px;
margin: 20px auto;

}
.infobtn{
width:50%;
margin:10px auto;

}
#moviebox{

margin-top:40px;
width: 100%;
margin-left: 0px;
margin-right: 0px;
background: rgb(56,51,51);
background: radial-gradient(circle, rgba(56,51,51,1) 0%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 100%);
}
#mydiv{
opacity: 0.4;
height:100%;
width:100%;
margin: auto;
margin-top:7%;

}
.trailer-box{

width:800px;
margin-top:40px;
margin-left:auto;
margin-right: auto;



}