
<nav aria-label="Bottom nav" id="bt">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/1">1</a></li>
          <li class="page-item">
            <a class="page-link" href="/2">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="">Next</a>
          </li>
        </ul>
      </nav>
      <hr class="style-one">
     
<div class="down"> 
<div style="width:300px; margin:auto; margin-top:30px;padding-top:30px">
    <img class="button" src="assets/fb.png" style="height: 40px; width:40px">
  <img class="button" src="assets/insta.png" style="height: 40px; width:40px">
  <img class="button" src="assets/twi.png" style="height: 40px; width:40px">
</div>
  
</div>


</body>
</html>